# Required only for Local Deploys
# ------------------------------------------------------ #

aiohttp
bs4
random_address
aiogram
pyrogram
pymongo
telebot
telethon
htmlwebshot
numpy>=1.21.2
requests
tgcrypto
# -------------------------------------------------------#
